<%- include('../include/head.ejs') %>
    </head>

    <body>
        <%- include('../include/navigation.ejs') %>

            <main>
                <!-- make a forget password main section -->
                <section style="background-color: #ffffff; height: 82vh; ">
                    <div class="container py-5 h-100 mb-5">
                        <div class="row d-flex

                        justify-content-center align-items-center h-100">
                            <div class="col-md-9 col-lg-6 col-xl-5">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                                    class="img-fluid" alt="Sample image">
                            </div>
                            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                                <form id="resetForm" action="/forget-password" method="post">
                                    <div class="text-center mb-3 ">
                                        <p class="fw-bold fs-2">Login with:</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="/auth/google" class="google-button">
                                                <img src="img/googleIcon.svg"
                                                    alt="Google Logo" >
                                                Continue with Google
                                            </a>
                                        </div>
                                    </div>
                                    <p class="text-center fw-bold">Or:</p>
                                    <div class="form-outline mb-4">
                                        <input type="text" id="identifier" name="identifier"
                                            class="form-control form-control-lg" placeholder="Email or username"
                                            required>
                                        <label class="form-label" for="identifier">Email or Username</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg">Forget Password</button>
                                </form>

                                <!-- add a login option -->
                                <!-- add some margin top -->
                                <div class="text-center mt-3">

                                    <p>Already have an account? <a href="/login">Login</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>



            </main>

            <script>
                document.getElementById('resetForm').addEventListener('submit', function(event) {
                    const identifier = document.getElementById('identifier').value.trim();
                    if (!identifier) {
                        alert('Please enter your email or username.');
                        event.preventDefault(); // Prevent the form from submitting
                    }
                });
            </script>
            <style>
                             .google-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    /* width: 250px; */
                    width: 350px;
                    width: 380px;
                    height: 50px;
                    background-color: white;
                    color: #5F6368;
                    border: 1px solid #dadce0;
                    border: 1px solid #e5e7eb;
                    border-radius: .5rem;
                    font-size: 15px;
                    font-family: Arial, sans-serif;
                    cursor: pointer;
                 
                    transition: background-color 0.3s ease;
                    text-decoration: none;
                }

                .google-button:hover {
                    background-color: #f4f4f4;
                    background-color: #2222220d;
                }

                .google-button img {
                    margin-right: 10px;
                }
            </style>
            <%- include('../include/footer.ejs') %>