<%- include('../include/head.ejs') %>
    </head>

    <body>
        <%- include('../include/navigation.ejs') %>

            <main>
                <!-- make a forget password main section -->
                <section style="background-color: #ebedf3; height: 82vh; ">
                    <div class="container py-5 h-100">
                        <div class="row d-flex

                        justify-content-center align-items-center h-100">
                            <div class="col-md-9 col-lg-6 col-xl-5">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                                    class="img-fluid" alt="Sample image">
                            </div>
                            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                                <form id="resetForm" action="/forget-password" method="post">
                                    <div class="text-center mb-3">
                                        <p>Reset password with:</p>
                                        <a href="/auth/google">
                                            <button type="button" data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-link btn-floating mx-1">
                                                <i class="fab fa-google"></i>
                                            </button>
                                        </a>
                                    </div>
                                    <p class="text-center fw-bold">Or:</p>
                                    <div class="form-outline mb-4">
                                        <input type="text" id="identifier" name="identifier"
                                            class="form-control form-control-lg" placeholder="Email or username"
                                            required>
                                        <label class="form-label" for="identifier">Email or Username</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg">Forget Password</button>
                                </form>

                                <!-- add a login option -->
                                <!-- add some margin top -->
                                <div class="text-center mt-3">

                                    <p>Already have an account? <a href="/login">Login</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>



            </main>

            <script>
                document.getElementById('resetForm').addEventListener('submit', function(event) {
                    const identifier = document.getElementById('identifier').value.trim();
                    if (!identifier) {
                        alert('Please enter your email or username.');
                        event.preventDefault(); // Prevent the form from submitting
                    }
                });
            </script>
            <%- include('../include/footer.ejs') %>