<%- include('../include/head.ejs', pageTitle='Login' ) %>

    </head>

    <body>
        <%- include('../include/navigation.ejs') %>



            <link rel="stylesheet" href="../css/login.css">
            <section style="height: 82vh;" class=" container  mt-5">
                <!-- <div class="container"> -->
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                            class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                        <form id="signup-form" action="/login" method="post">

                            <div class="text-center mb-3">
                                <p>Sign in with:</p>
                                <!-- <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                  <i class="fab fa-facebook-f"></i>
                                </button> -->
                                <a href="/auth/google">
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                                        class="btn btn-link btn-floating mx-1">
                                        <i class="fab fa-google"></i>
                                    </button>
                                </a>
                                <!-- <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                  <i class="fab fa-twitter"></i>
                                </button>
                        
                                <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                                  <i class="fab fa-github"></i>
                                </button> -->
                            </div>

                            <p class="text-center fw-bold">Or:</p>


                            <!-- Username input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="username" name="username" class="form-control form-control-lg"
                                    placeholder="Email or username" required>
                                <label class="form-label" for="username">Email or Username</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" id="password" name="password"
                                    class="form-control form-control-lg" placeholder="Enter your password" required>
                                <label class="form-label" for="password">Password</label>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Log in</button>

                            <!-- Optional: Forgot password link -->
                            <a href="/forget-password" class="text-body">Forgot password?</a>

                            <!-- Optional: Register link -->
                            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup"
                                    class="link-danger">Register</a></p>
                        </form>

                    </div>
                </div>
                </div>

            </section>
            <br>
            <br>
            <br>


            <script>
                // Parse the query parameter from the URL
                const params = new URLSearchParams(window.location.search);
                const warningMessage = params.get('warning');

                // Display the warning message if it exists
                if (warningMessage) {
                    // Get the warning container element
                    const warningContainer = document.getElementById('warning-container');

                    // Set the warning message and make the container visible
                    warningContainer.innerHTML = `<strong>Warning:</strong> ${warningMessage}`;
                    warningContainer.style.display = 'block';
                }
            </script>
            <style>
                .warning-container {
                    background-color: #ffc107;
                    color: #333;
                    padding: 10px;
                    margin-bottom: 10px;
                    border: 1px solid #ffc107;
                    border-radius: 5px;
                    display: none;
                    /* Initially hide the container */
                }
            </style>
            <%- include('../include/footer.ejs') %>