<%- include('../include/head.ejs') %>
    </head>

    <body>
        <%- include('../include/navigation.ejs') %>
        <link rel="stylesheet" href="/css/___.css">

        <main>



        </main>


            <%- include('../include/footer.ejs') %>