body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.checkout-page {
    padding: 40px 0;
}

.checkout-summary {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart-items {
    flex: 1;
}

.cart-item {
    display: flex;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    margin-right: 20px;

    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-image {
    flex: 1;
    max-width: 150px;
    overflow: hidden;
}

.item-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.item-image:hover img {
    transform: scale(1.1);
}

.item-details {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-details h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.item-price, .quantity, .item-total {
    font-size: 1.1em;
    color: #333;
}

.item-total {
    font-weight: bold;
    color: #333;
}

.checkout-details {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkout-details h3 {
    margin-top: 0;
}

.subtotal, .shipping, .total {
    margin-top: 20px;
}

.price {
    font-weight: bold;
    color: #333;
}

.checkout-btn {
    margin-top: 20px;
}

.submit-button {
    background-color: #6772e5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.submit-button:hover {
    background-color: #5469d4;
}

/* Additional styling for address section and payment form */
.address-section {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

.address-section h3 {
    margin-top: 0;
}

.address-section p {
    margin: 5px 0;
    color: #333;
}

.payment-form {
    margin-top: 20px;
}

.containerr {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.form-row {
    margin-bottom: 20px;
}

.card-element {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
}

.test-payment {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fafafa;
}

.test-payment h3 {
    margin-top: 0;
    font-size: 20px;
    color: #444;
}

.test-payment p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

#card-error {
    color: #fa755a;
    font-size: 14px;
    margin-top: 10px;
}
