<footer class="site-footer bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; 2023 GearX</p>
            </div>
            <div class="col-md-3">
                <nav class="footer-nav">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#" class="text-light">About Us</a></li>
                        <li><a href="#" class="text-light">Contact</a></li>
                        <li><a href="#" class="text-light">Privacy Policy</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <div class="social-links">
                    <a href="#" target="_blank" class="text-light"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" target="_blank" class="text-light"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank" class="text-light"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>


</html>