<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>

    </title>

    <style>
        * {
            margin: 0;
        }

        body {
            margin: 0;
            padding: 0;

            font-family: 'Arial', sans-serif;
            /* background-color: #f4f4f4; */
            background-color: #F0F0F0;

            color: #333;
            min-height: 100vh !important;
        }

        body {
            line-height: 1.5;
            -webkit-font-smoothing: antialiased;
        }

        main {
            /* min-height: 100vh-100px; */
            /* min-height: calc(100vh - 147px); */
            /* min-height: calc(100vh - 147px); */
            min-height: calc(100vh - 9.1875rem);


        }
    </style>
    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">