<%- include('../include/head.ejs') %>
    </head>

    <body>
        <%- include('../include/navigation.ejs') %>

        <main>
            <h1 style="text-align: center; padding-top: 10px;" >contact page</h1>
        </main>


        <%- include('../include/footer.ejs') %>
