<!-- <link rel="stylesheet" href="addtocart.css"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> -->

<%- include('../include/head.ejs') %>
    </head>

    <body>
        <%- include('../include/navigation.ejs',{isAuthenticated} ) %>

            <!-- <main> -->

                <div id="warning-container" class="warning-container"></div>

            <section class="banner-section">
                <div class="banner-container">
                    <div class="banner-slide ">
                        <img src="img/f1.png" alt="40% Off Sale">
                        <div class="banner-text">
                        </div>
                    </div>
                    <div class="banner-slide ">
                        <img src="img/f2.png" alt="Buy One Get One Free">
                        <div class="banner-text">
                        </div>
                    </div>
                    <div class="banner-slide active">
                        <img src="img/f4.png" alt="New Arrivals">
                        <div class="banner-text">
                        </div>
                    </div>
                </div>

                <button class="banner-prev"><i class="fas fa-chevron-left"></i></button>
                <button class="banner-next"><i class="fas fa-chevron-right"></i></button>
            </section>


    

            <section class="category-section">
                <h2>Explore Our Categories</h2>
                <div class="container">
                    <div class="category-grid mt-3">

                        <a class="category-item" href="/products/category/gloves">
                            <img src="img/gloves4.jpg" alt="Gloves" class="border rounded rounded-5" style="aspect-ratio: 1/1;">
                            <!-- <div class="category-name">Gloves</div> -->
                        </a>
                        <a class="category-item" href="/products/category/boots">
                            <img src="img/shoex.avif" alt="Boots" class="border rounded rounded-5" style="aspect-ratio: 1/1;">
                            <!-- <a href=""></a> -->
                            <!-- <div class="category-name">Shoes</div> -->
                        </a>
                        <a class="category-item" href="/products/category/helmets">
                            <img src="img/helmetx.jpg" alt="Helmets" class="border rounded rounded-5" style="aspect-ratio: 1/1;">
                            <!-- <div class="category-name">Helmets</div> -->
                        </a>
                        <a class="category-item" href="/products/category/backpacks">
                            <img src="img/bagx.jpg" alt="Backpacks" class="border rounded rounded-5" style="aspect-ratio: 1/1;">
                            <!-- <div class="category-name">Backpacks</div> -->
                        </a>
                    </div>
                </div>
            </section>

          

            <section class="featured-products">
                <div class="container">
                    <h2 class="text-center mb-4">Featured Products</h2>
                    <div class="row g-5">
            
                        <!-- Product Card 1 -->
                        <div class="col-md-3 mb-4">
                            <div class="card border rounded-4">
                                <img src="img/shoes.png" class="card-img-top" alt="Premium Product">
                                <div class="card-body ">
                                    <h5 class="card-title mb-0">Premium Luxury Product</h5>
                                    <p class="card-text text-muted mb-2">Exclusive Brand</p>
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div>
                                            <span class="text-muted">Original Price:</span>
                                            <span class="ml-1 font-weight-bold">₹100</span>
                                        </div>
                                     
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a href="/products" class="btn btn-primary btn-sm mr-2"><i class="fa fa-shopping-cart mr-1"></i> Add to Cart</a>
                                        <a href="/products" class="btn btn-outline-secondary btn-sm"><i class="far fa-heart mr-1"></i> Wishlist</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                     
            
                        <!-- Repeat for Product Card 2, 3, and 4 -->
                        <div class="col-md-3 mb-4">
                            <div class="card border rounded-4">
                                <img src="img/shoes.png" class="card-img-top" alt="Premium Product">
                                <div class="card-body ">
                                    <h5 class="card-title mb-0">Premium Luxury Product</h5>
                                    <p class="card-text text-muted mb-2">Exclusive Brand</p>
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div>
                                            <span class="text-muted">Original Price:</span>
                                            <span class="ml-1 font-weight-bold">₹100</span>
                                        </div>
                                     
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a href="/products"  class="btn btn-primary btn-sm mr-2"><i class="fa fa-shopping-cart mr-1"></i> Add to Cart</a>
                                        <a href="/products" class="btn btn-outline-secondary btn-sm"><i class="far fa-heart mr-1"></i> Wishlist</a>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <!-- Repeat for Product Card 3 -->
                        <div class="col-md-3 mb-4">
                            <div class="card border rounded-4">
                                <img src="img/shoes.png" class="card-img-top" alt="Premium Product">
                                <div class="card-body ">
                                    <h5 class="card-title mb-0">Premium Luxury Product</h5>
                                    <p class="card-text text-muted mb-2">Exclusive Brand</p>
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div>
                                            <span class="text-muted">Original Price:</span>
                                            <span class="ml-1 font-weight-bold">₹100</span>
                                        </div>
                                     
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a href="/products" class="btn btn-primary btn-sm mr-2"><i class="fa fa-shopping-cart mr-1"></i> Add to Cart</a>
                                        <a href="/products" class="btn btn-outline-secondary btn-sm"><i class="far fa-heart mr-1"></i> Wishlist</a>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <!-- Repeat for Product Card 4 -->
                        <div class="col-md-3 mb-4">
                            <div class="card border rounded-4">
                                <img src="img/shoes.png" class="card-img-top" alt="Premium Product">
                                <div class="card-body ">
                                    <h5 class="card-title mb-0">Premium Luxury Product</h5>
                                    <p class="card-text text-muted mb-2">Exclusive Brand</p>
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div>
                                            <span class="text-muted">Original Price:</span>
                                            <span class="ml-1 font-weight-bold">₹100</span>
                                        </div>
                                     
                                    </div>
                                    <div class="d-flex justify-content-center p-0">
                                        <a href="/products" class="btn btn-primary btn-sm "><i class="fa fa-shopping-cart mr-1"></i> Add to Cart</a>
                                        <a href="/products" class="btn btn-outline-secondary btn-sm"><i class="far fa-heart mr-1"></i> Wishlist</a>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    </div>
                </div>
            </section>

            <section class="about-us">
                <div class="container">
                    <h2>Tour in Style Without Breaking the Bank</h2>
                    <p>We understand that not every cyclist can afford brand-new gear for every adventure. That's
                        why we
                        offer quality rental and pre-owned bikes, parts, and gear, making touring accessible to
                        everyone.</p>
                    <p>Whether you're a seasoned cyclist or just getting started, we're here to help you hit the
                        road
                        fully equipped. </p>
                    <button class="learn-more">Learn More About Us</button>
                </div>
            </section>
            </main>
            <%- include('../include/footer.ejs') %>

            <script>
                // Parse the query parameter from the URL
                const params = new URLSearchParams(window.location.search);
                const warningMessage = params.get('warning');
        
                // Display the warning message if it exists
                if (warningMessage) {
                    // Get the warning container element
                    const warningContainer = document.getElementById('warning-container');
        
                    // Set the warning message and make the container visible
                    warningContainer.innerHTML = `<strong>Warning:</strong> ₹{warningMessage}`;
                    warningContainer.style.display = 'block';
                }
            </script>

                <script src="js/script.js"></script>